:root {
  --base00: #322931;
  --base01: #433b42;
  --base02: #5c545b;
  --base03: #797379;
  --base04: #989498;
  --base05: #b9b5b8;
  --base06: #d5d3d5;
  --base07: #ffffff;
  --base08: #dd464c;
  --base09: #fd8b19;
  --base0A: #fdcc59;
  --base0B: #8fc13e;
  --base0C: #149b93;
  --base0D: #1290bf;
  --base0E: #c85e7c;
  --base0F: #b33508;
}

/*************************
 * Font selection
*************************/

.workspace {
  font-family: var(--font-family-editor);
}

.markdown-preview-view {
  font-family: var(--font-family-preview) !important;
}

/*************************
 * workspace
*************************/

.workspace {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

.workspace-tabs {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

.workspace-tab-header {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

.workspace-tab-header-inner {
  color: var(--base02) !important;
}

.workspace-leaf {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

/*************************
 * View header
*************************/

.view-header {
  background-color: var(--base00) !important;
  color: var(--base06) !important;
  border-bottom: 1px solid var(--base01);
}

.view-header-title {
  color: var(--base06) !important;
}

.view-header-title-container:after {
  background: none !important;
}

.view-content {
  background-color: var(--base00) !important;
  color: var(--base06) !important;
}

.view-action {
  color: var(--base06) !important;
}

/*************************
 * Nav folder
*************************/

.nav-folder-title, .nav-file-title {
  background-color: var(--base00) !important;
  color: var(--base06) !important;
}

.nav-action-button {
  color: var(--base06) !important;
}

/*************************
 * Markdown headers
*************************/

.cm-header-1, .markdown-preview-view h1 {
  color: var(--base0A);
}

.cm-header-2, .markdown-preview-view h2 {
  color: var(--base0B);
}

.cm-header-3, .markdown-preview-view h3 {
  color: var(--base0C);
}

.cm-header-4, .markdown-preview-view h4 {
  color: var(--base0D);
}

.cm-header-5, .markdown-preview-view h5 {
  color: var(--base0E);
}

.cm-header-6, .markdown-preview-view h6 {
  color: var(--base0E);
}

/*************************
 * Markdown strong and emphasis
*************************/

.cm-em, .markdown-preview-view em {
  color: var(--base0D);
}

.cm-strong, .markdown-preview-view strong {
  color: var(--base09);
}

/*************************
 * Markdown links
*************************/

.cm-link, .markdown-preview-view a {
  color: var(--base0C) !important;
}

.cm-formatting-link,.cm-url {
  color: var(--base03) !important;
}

/*************************
 * Quotes
*************************/

.cm-quote, .markdown-preview-view blockquote {
  color: var(--base0D) !important;
}

/*************************
 * Code blocks
*************************/

.HyperMD-codeblock, .markdown-preview-view pre {
  color: var(--base07) !important;
  background-color: var(--base01) !important;
}

.cm-inline-code, .markdown-preview-view code {
  color: var(--base07) !important;
  background-color: var(--base01) !important;
}
