:root {
  --base00: #3B3228;
  --base01: #534636;
  --base02: #645240;
  --base03: #7e705a;
  --base04: #b8afad;
  --base05: #d0c8c6;
  --base06: #e9e1dd;
  --base07: #f5eeeb;
  --base08: #cb6077;
  --base09: #d28b71;
  --base0A: #f4bc87;
  --base0B: #beb55b;
  --base0C: #7bbda4;
  --base0D: #8ab3b5;
  --base0E: #a89bb9;
  --base0F: #bb9584;
}

/*************************
 * Font selection
*************************/

.workspace {
  font-family: var(--font-family-editor);
}

.markdown-preview-view {
  font-family: var(--font-family-preview) !important;
}

/*************************
 * workspace
*************************/

.workspace {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

.workspace-tabs {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

.workspace-tab-header {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

.workspace-tab-header-inner {
  color: var(--base02) !important;
}

.workspace-leaf {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

/*************************
 * View header
*************************/

.view-header {
  background-color: var(--base00) !important;
  color: var(--base06) !important;
  border-bottom: 1px solid var(--base01);
}

.view-header-title {
  color: var(--base06) !important;
}

.view-header-title-container:after {
  background: none !important;
}

.view-content {
  background-color: var(--base00) !important;
  color: var(--base06) !important;
}

.view-action {
  color: var(--base06) !important;
}

/*************************
 * Nav folder
*************************/

.nav-folder-title, .nav-file-title {
  background-color: var(--base00) !important;
  color: var(--base06) !important;
}

.nav-action-button {
  color: var(--base06) !important;
}

/*************************
 * Markdown headers
*************************/

.cm-header-1, .markdown-preview-view h1 {
  color: var(--base0A);
}

.cm-header-2, .markdown-preview-view h2 {
  color: var(--base0B);
}

.cm-header-3, .markdown-preview-view h3 {
  color: var(--base0C);
}

.cm-header-4, .markdown-preview-view h4 {
  color: var(--base0D);
}

.cm-header-5, .markdown-preview-view h5 {
  color: var(--base0E);
}

.cm-header-6, .markdown-preview-view h6 {
  color: var(--base0E);
}

/*************************
 * Markdown strong and emphasis
*************************/

.cm-em, .markdown-preview-view em {
  color: var(--base0D);
}

.cm-strong, .markdown-preview-view em {
  color: var(--base09);
}

/*************************
 * Markdown links
*************************/

.cm-link, .markdown-preview-view a {
  color: var(--base0C) !important;
}

.cm-formatting-link,.cm-url {
  color: var(--base03) !important;
}

/*************************
 * Quotes
*************************/

.cm-quote, .markdown-preview-view blockquote {
  color: var(--base0D) !important;
}

/*************************
 * Code blocks
*************************/

.HyperMD-codeblock, .markdown-preview-view pre {
  color: var(--base07) !important;
  background-color: var(--base01) !important;
}

.cm-inline-code, .markdown-preview-view code {
  color: var(--base07) !important;
  background-color: var(--base01) !important;
}
