:root {
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #545862;
  --base04: #565c64;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #c8ccd4;
  --base08: #e06c75;
  --base09: #d19a66;
  --base0A: #e5c07b;
  --base0B: #98c379;
  --base0C: #56b6c2;
  --base0D: #61afef;
  --base0E: #c678dd;
  --base0F: #be5046;
}

/*************************
 * Font selection
*************************/

.workspace {
  font-family: var(--font-family-editor);
}

.markdown-preview-view {
  font-family: var(--font-family-preview) !important;
}

/*************************
 * workspace
*************************/

.workspace {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

.workspace-tabs {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

.workspace-tab-header {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

.workspace-tab-header-inner {
  color: var(--base02) !important;
}

.workspace-leaf {
  color: var(--base06) !important;
  background-color: var(--base00) !important;
}

/*************************
 * View header
*************************/

.view-header {
  background-color: var(--base00) !important;
  color: var(--base06) !important;
  border-bottom: 1px solid var(--base01);
}

.view-header-title {
  color: var(--base06) !important;
}

.view-header-title-container:after {
  background: none !important;
}

.view-content {
  background-color: var(--base00) !important;
  color: var(--base06) !important;
}

.view-action {
  color: var(--base06) !important;
}

/*************************
 * Nav folder
*************************/

.nav-folder-title, .nav-file-title {
  background-color: var(--base00) !important;
  color: var(--base06) !important;
}

.nav-action-button {
  color: var(--base06) !important;
}

/*************************
 * Markdown headers
*************************/

.cm-header-1, .markdown-preview-view h1 {
  color: var(--base0A);
}

.cm-header-2, .markdown-preview-view h2 {
  color: var(--base0B);
}

.cm-header-3, .markdown-preview-view h3 {
  color: var(--base0C);
}

.cm-header-4, .markdown-preview-view h4 {
  color: var(--base0D);
}

.cm-header-5, .markdown-preview-view h5 {
  color: var(--base0E);
}

.cm-header-6, .markdown-preview-view h6 {
  color: var(--base0E);
}

/*************************
 * Markdown strong and emphasis
*************************/

.cm-em, .markdown-preview-view em {
  color: var(--base0D);
}

.cm-strong, .markdown-preview-view em {
  color: var(--base09);
}

/*************************
 * Markdown links
*************************/

.cm-link, .markdown-preview-view a {
  color: var(--base0C) !important;
}

.cm-formatting-link,.cm-url {
  color: var(--base03) !important;
}

/*************************
 * Quotes
*************************/

.cm-quote, .markdown-preview-view blockquote {
  color: var(--base0D) !important;
}

/*************************
 * Code blocks
*************************/

.HyperMD-codeblock, .markdown-preview-view pre {
  color: var(--base07) !important;
  background-color: var(--base01) !important;
}

.cm-inline-code, .markdown-preview-view code {
  color: var(--base07) !important;
  background-color: var(--base01) !important;
}
